@model LP2M_Revisi.Models.Seminar

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Seminar</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Judulprogram)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Judulprogram)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Judulpaper)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Judulpaper)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kategori)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kategori)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Penyelenggara)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Penyelenggara)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Waktupelaksanaan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Waktupelaksanaan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tempatpelaksanaan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tempatpelaksanaan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Keterangan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Keterangan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Inputdate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Inputdate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Editdate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Editdate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EditbyNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EditbyNavigation.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InputbyNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InputbyNavigation.Id)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
