@model IEnumerable<LP2M_Revisi.Models.Prodi>

@{
    ViewData["Title"] = "Master Prodi";
    ViewBag.Title = "Data Prodi";
    Layout = ViewBag.Layout;
}

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>

<style>
    .border-container {
        border: 1px solid #ccc;
        border-radius: 10px;
        padding: 10px;
        display: inline-block;
    }

    #myTable th {
        text-align: center;
    }
</style>
<div class="row mb-5">
    <div class="col-md-6 mt-2">
        <div class="border-container">
            <center>
                <div class="fa fa-users fa-lg fa-pull-left">
                    <span style="font-size: Larger; font-weight: bold;">Total Prodi</span>
                </div>
            </center><br>
            <center>
                <div>
                    <span id="totalData" style="font-weight: bold;text-align: center;font-size: 40px;"></span>
                </div>
            </center>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-lg-12">
        <div class="input-group">
            <a asp-action="Create" class="btn btn-primary">
                <i class="fa fa-plus"></i>&nbsp;Tambah
            </a>
            <input name="cari" type="text" id="cari" class="form-control" placeholder="Pencarian" />
            <span class="input-group-btn">
                <a id="MainContent_linkCari" class="btn btn-secondary" href="#">
                    <i class="fa fa-search"></i>&nbsp;Cari
                </a>
            </span>
            <div class="input-group-btn">
                <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" fdprocessedid="63p3so">
                    <i class="fa fa-filter"></i>&nbsp;Filter
                </button>
                <div class="dropdown-menu dropdown-menu-right" style="padding: 20px; min-width: 300px !important;">
                    <div class="form-group">
                        <label style="font-weight: bold;" for="ddSemester">Status</label>
                        <select name="ddSemester" id="ddSemester" class="form-control dropdown" style="min-width: 260px !important;">
                            <option value="">-- Semua --</option>
                            <option value="Diterima">Diterima</option>
                            <option value="Ditolak">Ditolak</option>
                            <option value="Belum">Belum Diajukan</option>
                            <option value="Konfirmasi">Menunggu Konfirmasi</option>
                        </select>
                    </div>
                </div>
            </div>
            <span>
                <a asp-action="ExportToExcel" class="btn btn-success">
                    <i class="fa fa-file-excel"></i>&nbsp;Export
                </a>
            </span>
        </div>
    </div>
</div>
<br>
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        @TempData["SuccessMessage"]
    </div>
}
else if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        @TempData["ErrorMessage"]
    </div>
}

<div style="overflow-x: auto; width: 100%;">
    <table id="myTable" class="table table-hover grid scrollstyle text-center" width="100%">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nama)
                </th>
                <th>Aksi</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nama)
                    </td>
                    <td>
                        <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@item.Id" title="Edit">
                            <i class="fa fa-pencil-square-o"></i>
                        </a>
                        <a class="btn btn-sm btn-info btn-info-modal" asp-action="Details" asp-route-id="@item.Id" title="Detail">
                            <i class="fa fa-info-circle"></i>
                        </a>
                        <a class="btn btn-sm btn-danger delete-button" asp-action="Delete" asp-route-id="@item.Id" title="Hapus">
                            <i class="fa fa-trash-o"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script>
    // Fungsi untuk menghitung total data dalam tabel
    function updateTotalData() {
        var totalDataElement = document.getElementById("totalData");
        var table = document.getElementById("myTable"); // Ganti "myTable" dengan id tabel yang sesuai
        var rowCount = table.rows.length - 1; // Mengurangi 1 untuk mengabaikan baris header

        totalDataElement.textContent = rowCount;
    }

    function searchTable() {
        var input, filter, table, tr, td, i, j, txtValue;
        input = document.getElementById("cari");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");

        for (i = 1; i < tr.length; i++) { // Mulai dari 1 untuk menghindari baris header
            var display = false;
            for (j = 0; j < tr[i].cells.length; j++) {
                td = tr[i].cells[j];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        display = true;
                        break;
                    }
                }
            }
            if (display) {
                tr[i].style.display = "";
            } else {
                tr[i].style.display = "none";
            }
        }
    }
    $(document).ready(function () {
        // Initialize DataTable
        var table = $('#myTable').DataTable({
            "pageLength": 10,
            "lengthMenu": [10, 25, 50, 75, 100],
            "searching": false,
            "ordering": false,
        });

        // Call the updateTotalData function whenever the table is drawn
        table.on('draw', function () {
            updateTotalData();
        });
    });

    // Panggil fungsi saat halaman dimuat
    window.addEventListener('load', updateTotalData);

    // Panggil fungsi pencarian saat input berubah
    var searchInput = document.getElementById("cari");
    searchInput.addEventListener("input", searchTable);

</script>
