@model LP2M_Revisi.Models.Buku

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Buku</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Judulbuku)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Judulbuku)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Isbn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Isbn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Penerbit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Penerbit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tahun)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tahun)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Inputdate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Inputdate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Editdate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Editdate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EditbyNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EditbyNavigation.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InputbyNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InputbyNavigation.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
